@font-face {
    font-family: Titillium;
    src: url(TitilliumWeb-Regular.ttf);
}

body{
    background-color: #a8d6ff;
    color: #3B3C36;
    font-family: Titillium;
}

.header{
    padding: 1em 8vw;
}

.introduction{
    background-color: #f0f8ff;
    padding: 1em 8vw;
    & img{
        display: block;       
        width: 55vw;
        margin: 1em auto
    }
    & p{
        display: inline;
    }
}

.projecten{
    padding-top: 0.5em;
    padding-bottom: 2em;
    & span{
        vertical-align: center;
        padding-left: 1em;
        padding-right: 1em
    }
    & h1{
        padding-left: 8vw;
        margin-block-start: 0.5em;
    }
    & em{
        padding-left: 8vw;
        padding-top: 2em;
    }
    & svg{
        fill: white;
        padding: 0.5em;
        border-radius: 50%;
        margin: 0 auto
    }
    & ul{
        padding-inline-start: 0;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        & li{
            display: flex;
            flex-direction: column;
        }
    } 
}

.timeline{
    background-color: #f0f8ff;
}

.project-card{
    & img{
        width: 100%
    }
    & a{
        text-decoration: none;
    }
    & a:hover{
        text-decoration: underline;
    }
    & .links{
        display: flex;
        justify-content: space-between;
    }
    & ul{
        padding-inline-start: 0;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    & svg{
        width: 2em;
        height: 2em;
    }
}



footer{
    padding-left: 1em;
    display: flex;
    font-size: 10px;
    & svg{
        height: 2.2em;
        width: 2.2em;
        margin-top: 1.2em;
        margin-left: 4em;
        &:hover{
            border: solid white 1px
        }
    }
}

@media(min-width: 700px) {
    h1{
        font-size: 50px;
    }
    .header{
        padding: 3em 15vw;
    }
    .introduction{
        padding: 1em 15vw;
        display: flex;
        align-items: center;
        font-size: 20px;
        & img{
            width: 350px;
            height: 350px;
            max-width: 30vw;
            max-height: 30vw;
            padding-left: 2em;
            vertical-align: middle;
        }
        & p{
            vertical-align: middle;
        }
    }
    .projecten{
        & svg{
            height: 1.6em;
            width: 1.6em;
            vertical-align: middle;
            margin: 0;
            padding: 1.2em;
        }
        & ul li{
            display: block;
        }
        & h1{
            padding-left: 15vw
        }
        & em{
            padding-left: 15vw;
        }
    }
    footer{
        padding-left: 5em;
        font-size: 15px;
    }
}

