body{
    background-color: #f0f8ff;
}

.project-card{
    &--blue{
        & a{
            color: #4f8bc9
        }
    }
    &--pink{
        & a{
            color: #ff9faf
        }
    }
    &--yellow{
        & a{
            color: #ffd900
        }
    }
    & img{
        width: 100%
    }
    & a{
        text-decoration: none;
    }
    & a:hover{
        text-decoration: underline;
    }
    & .links{
        display: flex;
        justify-content: space-between;
    }
    & ul{
        padding-inline-start: 0;
        display: flex;
        justify-content: space-evenly;
    }
}



